* {
  margin: 0;
  padding: 0;
}

.navfull {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #49A078;
}

.navfull h3 {
  color: #fafafafa;
}

ul {
  display: flex;
  gap: 15px;
  list-style-type: none;
}

ul li a {
  text-decoration: none;
}

#hero {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #49A078;
}

#hero-text {
  padding-left: 40px;
}

#hero-text h1 {
  color: white;
  font-size: 45px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word
}

#hero-text p {
  color: white;
  font-size: 18px;
  font-family: Poppins;
  word-wrap: break-word
}

#hero-text button {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 30px;
  border-radius: 5px;
  color: #fafafafa;
  background-color: #216869;
  border-style: none;
}

  .superior {
    display: flex;
    justify-content: space-between;
    background-color: #fafafafa;
    padding-top: 110px;
    padding-bottom: 80px;
  }

  #superior-img {
    padding-left: 80px;
  }

  .superior-text {
    padding-right: 440px;
    padding-top: 110px;
  }


  .experienced {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #logo-first {
    margin-left: 120px;
    background-color: #49A078;
    border-radius: 10px;
    width: 230px;
    height: 190px;
  }

  #logo-first img {
    padding-top: 15px;
    padding-left: 15px;
  }

  #logo-first h3 {
    padding-top: 10px;
    padding-left: 15px;
    font-family: Poppins;
    color: white;
  }
  
  #logo-first h6 {
    padding-top: 10px;
    padding-left: 15px;
    font-family: Poppins;
    color: white;
  }

  #logo-second {
    margin-right: 10px;
    background-color: #49A078;
    border-radius: 10px;
    width: 230px;
    height: 190px;
  }

  #logo-second img {
    padding-top: 15px;
    padding-left: 15px;
  }

  #logo-second h3 {
    padding-top: 10px;
    padding-left: 15px;
    font-family: Poppins;
    color: white;
  }
  
  #logo-second h6 {
    padding-top: 10px;
    padding-left: 15px;
    font-family: Poppins;
    color: white;
  }

  #logo-third {
    margin-right: 110px;
    background-color: #49A078;
    border-radius: 10px;
    width: 230px;
    height: 190px;
  }

  #logo-third img {
    padding-top: 15px;
    padding-left: 15px;
  }

  #logo-third h3 {
    padding-top: 10px;
    padding-left: 15px;
    font-family: Poppins;
    color: white;
  }
  
  #logo-third h6 {
    padding-top: 10px;
    padding-left: 15px;
    font-family: Poppins;
    color: white;
  }

  .my-dokter {
    padding-top: 90px;
    /* align-items: center;
    justify-content: center; */
    padding-left: 400px;
  }

  .my-dokter h2 {
    padding-bottom: 15px;
    padding-left: 105px;
  }


  .dokter-specialist {
    display: flex;
    justify-content: space-between;
    padding-top: 140px;
    padding-bottom: 80px;
  }

  #specialist-img {
    padding-left: 140px;
  }

  .specialist-text {
    padding-right: 340px;
  }

  .specialist-text h1 {
    font-family: Poppins;
    padding-top: 8px;
  }

  .specialist-text h4 {
    color: #49A078;
    font-family: Poppins;
    padding-top: 8px;
  }

  .specialist-text p {
    color: black;
    font-family: Poppins;
    padding-top: 25px;
  }

  .specialist-text button {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 30px;
    border-radius: 5px;
    color: #fafafafa;
    background-color: #49A078;
    border-style: none;
  }

  #finish {
    color: white;
    font-family: Poppins;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #49A078;
    padding-bottom: 180px;
  }

  .finish-deskription {
    padding-left: 50px;
  }

  .finish-deskription h2 {
    padding-bottom: 15px;
  }

  .finish-fitur{
    padding-right: 15px;
  }

  .finish-fitur h4 {
    padding-bottom: 15px;
  }

  .finish-contact{
    padding-right: 15px;
  }

  .finish-contact h4 {
    padding-bottom: 15px;
  }

  .finish-news{
    padding-bottom: 58px;
    padding-right: 15px;
  }

  .finish-news h4 {
    padding-bottom: 15px;
  }